In [1]:
import json
import pandas as pd

In [2]:
dev_set_ids = json.load(open("data/post_ids_dev.json", "r"))
test_set_ids = json.load(open("data/post_ids_test.json", "r"))
main_df = pd.read_csv("data/all_data_waseem_da.csv")
annotation_dev_df = pd.read_csv("data/annotation_dev.tsv", sep="\t")
annotation_test_df = pd.read_csv("data/annotation_test.tsv", sep="\t")

In [7]:
pd.DataFrame([[id,None,None,None,None,None,None] for id in test_set_ids],columns=["id",
                                                                         "Target1",
                                                                         "Aspect1",
                                                                         "Target2",
                                                                         "Aspect2",
                                                                         "Target3",
                                                                         "Aspect3"]).to_excel("annotation_test_da.xlsx", index=False)

In [3]:
annotation_dev_df["id"] = dev_set_ids
annotation_test_df["id"] =  test_set_ids

In [4]:
annotation_test_df

,Target1,Aspect1,Target2,Aspect2,Target3,Aspect3,id
0,Islam,barbarity,NaN,NaN,NaN,NaN,5840
1,feminist novels,bores,NaN,NaN,NaN,NaN,16298
2,Kat,Kat,NaN,NaN,NaN,NaN,14049
3,OBAMA,love for golf is greater that love for CHRISTI...,NaN,NaN,NaN,NaN,12116
4,anti Zionist,anti Semitic,NaN,NaN,NaN,NaN,10529
...,...,...,...,...,...,...,...
435,Islam,hatred and Jihad,NaN,NaN,NaN,NaN,3049
436,Kat & Andre,-,NaN,NaN,NaN,NaN,8802
437,Muslims,pervert our US constitutional rights via domes...,NaN,NaN,NaN,NaN,7204
438,-,-,NaN,NaN,NaN,NaN,1469
439,Muslims,defended themselves all the way to Europe & India,NaN,NaN,NaN,NaN,7554

In [5]:
dev_df = annotation_dev_df.set_index("id").join(main_df.set_index("id"), on="id", how="inner")
test_df = annotation_test_df.set_index("id").join(main_df.set_index("id"), on="id", how="inner")

In [6]:
test_df

,Target1,Aspect1,Target2,Aspect2,Target3,Aspect3,text,Class
id,,,,,,,,
5840,Islam,barbarity,NaN,NaN,NaN,NaN,"Det er utroligt, hvordan journalisterne falder...",racism
16298,feminist novels,bores,NaN,NaN,NaN,NaN,"Har du nogensinde overvejet, at de ikke er FOR...",sexism
14049,Kat,Kat,NaN,NaN,NaN,NaN,Krazy-Eyes Kat har billetter på sig selv og si...,sexism
12116,OBAMA,love for golf is greater that love for CHRISTI...,NaN,NaN,NaN,NaN,RT @davidjones720: OBAMA og hans kærlighed til...,racism
10529,anti Zionist,anti Semitic,NaN,NaN,NaN,NaN,@ardiem1m @Alfonso_AraujoG @MaxBlumenthal @old...,racism
...,...,...,...,...,...,...,...,...
3049,Islam,hatred and Jihad,NaN,NaN,NaN,NaN,@taimiiSays Islam er had og Jihad. http://t.co...,racism
8802,Kat & Andre,-,NaN,NaN,NaN,NaN,Har Kat &amp; Andre nogen skam eller integrite...,sexism
7204,Muslims,pervert our US constitutional rights via domes...,NaN,NaN,NaN,NaN,RT @HeidiL_RN: At tillade muslimer at perverte...,racism
1469,-,-,NaN,NaN,NaN,NaN,RT @SexyIsntSexist: #WageGap #Sorted http://t....,sexism
7554,Muslims,defended themselves all the way to Europe & India,NaN,NaN,NaN,NaN,@Qoloob4 @Vandaliser @sajid_fairooz @IsraeliRe...,racism